.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    box-shadow: 3pt;
  }
  
  app-inicio {
    background: linear-gradient(45deg, #ff7e5f, #feb47b); /* Gradient */
    min-height: 100vh; /* Ensures it covers the full screen */
  }
  